@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  letter-spacing: 0.3px;
}

html {
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  transition: all 0.5s;
}

.brand {
  color: #39b54a;
}
/* For webkit browsers */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #39b54a;
  border-radius: 20px;
  border: 3px solid #ffffff;
}

.hero_bg {
  background: linear-gradient(#000000a0, #000000a0),
    url("/images/hero-bg.jpg.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.hero_bg::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.headingfont {
  font-family: "Kaushan Script", cursive;
  letter-spacing: 0.3px !important;
}

.about {
  background: linear-gradient(#00000025, #00000025), url("/images/about.jpg");
  background-repeat: no-repeat;
  background-position: top;
  width: 100bvw;
  background-size: cover;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.about::-webkit-scrollbar-thumb {
  background-color: #ff001500;
  border-radius: 20px;
  border: 0px solid #ffffff00;
}

.about::-webkit-scrollbar,
.hidescroll::-webkit-scrollbar {
  width: 0px;
  transition: all 0.5s;
}

.imageborder {
  border-width: 0 3px 3px 0; /* top right bottom left */
  border-color: #39b54a;
  border-bottom-right-radius: 6px;
}

.glassEffect {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px);
  width: 100vw; */
}

.glassEffect::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(4px);
}

.service {
  background: linear-gradient(#ffffff60, #ffffff60), url("/images/service.avif");
  background-repeat: no-repeat;
  background-position: top;
  width: 100bvw;
  background-size: cover;

  scrollbar-width: none;
  -ms-overflow-style: none;

  /* background: #fff; */
}

.servicebox > div {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
  z-index: 10;
  background: #ffffff;
  transform: rotate(45deg);
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px rgb(83, 83, 83);
  transition: 0.5s;
}

.servicebox > div > div {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  transform: rotate(-45deg);
  /* margin-left: -20px;
  margin-top: 30px; */
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.works {
  background: linear-gradient(#00000090, #00000090), url("/images/works.avif");
  background-repeat: no-repeat;
  background-position: top;
  width: 100bvw;
  background-size: cover;
}

.workHover:hover {
  background: #000000be;
  overflow: hidden;
}

.hoverLink {
  position: absolute;
  top: -100px;
  left: 30px;
  transition: all 0.5s;
}
.hoverEye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  scale: 0;
  transform-origin: left;
}
.hoverTitle {
  position: absolute;
  bottom: -100px;
  left: 30px;
  transition: all 0.5s;
}

.workHover:hover .hoverLink {
  top: 8px;
  left: 27px;
}
.workHover:hover .hoverEye {
  scale: 1;
}
.workHover:hover .hoverTitle {
  bottom: 30px;
  right: 30px;
}

.contact {
  background: linear-gradient(#00000060, #00000060),
    url("/images/contact-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  width: 100bvw;
  background-size: auto;
}
.footer {
  background: linear-gradient(#00000090, #00000090), url("/images/footer.avif");
  background-repeat: no-repeat;
  background-position: top;
  width: 100bvw;
  background-size: cover;
}
